<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <a class="brand" href="#">David Ziegler</a>
    <ul class="nav">
      <li class="divider-vertical"></li>
      <li class="active"><%= link_to "Home", :root %></li>
      <li class="divider-vertical"></li>
      <li class="dropdown" id="me-menu">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Me<b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><%= link_to "Resume ", "https://s3.amazonaws.com/dziegler_docs/Resume.pdf" %></li>
            <li><%= link_to "LinkedIn Profile", "http://www.linkedin.com/in/dzieglersf" %></li>
          </ul>
        </li>
      <li><%= link_to "Birds", :flyingbirds %></li>
      <li><%= link_to "Blog", :blog_root %></li>
      <li><%= link_to "Rubik's Cube" ,:notdone %></li>
      <li class="dropdown" id="thirteen-menu">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">13 Ways of Looking at a Ziegler<b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><%= link_to "Clarinet", :notdone %></li>
          <li><%= link_to "Stage", :notdone %></li>
          <li><%= link_to "Primes", :notdone %></li>
          <li><%= link_to "Shakespeare", :notdone %></li>
          <li><%= link_to "Influences", :notdone %></li>
          <li><%= link_to "Danny", :notdone %></li>
          <li><%= link_to "Mood Colors", :notdone %></li>
          <li><%= link_to "etc.", :notdone %></li>
        </ul>
      </li>
    </ul>
  </div>
</div>
